{% extends 'layout.html' %} {% block site_content %}

<h2 class="title text-center">Resultado da busca</h2>

{% if products | length == 0 %}
  Nenhum produto encontrado!
{% endif %}
<div class="col-sm-9 padding-right">
    <div class="features_items">
        {% for product in products %}
        <div class="col-sm-3">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a href="/details/{{ product.product_slug }}">
                            <img src="{{ site_url() }}/{{ product.product_photo }}" alt="foto {{  product.product_slug }}" />
                        </a>
                        <h2>
                            {{ product.product_value | number_format(2, ',', '.') }}
                        </h2>
                        <p>{{ product.product_name }}</p>
                        
                         <!--Estoque do produto-->
                         Estoque: 
                         {% if stock(product.id) == 0 %}
                            <span style="color: red; font-style: italic; font-size:12px">Indisponível</span>
                         {% else %}
                            {{ stock(product.id) }}
                         {% endif %} <br>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Adicionar ao carrinho</a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}