{% extends 'layout.html' %}

{% block site_content %}
<h2 class="title text-center">Categoria {{ category.category_name}}</h2>
<div class="padding-right">
    <div class="features_items">
        {% for product in products %}
        <div class="col-sm-3">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a href="/details/{{ product.product_slug }}" >
                            <img src="{{ site_url() }}/{{ product.product_photo }}" alt="foto {{  product.product_slug }}" />
                        </a>
                        <h2>
                            {{ product.product_value | number_format(2, ',', '.') }}
                        </h2>
                        <p>{{ product.product_name }}</p>
                        <a href="#" class="btn btn-default add-to-cart" data-id="{{ product.id }}">
                            <i class="fa fa-shopping-cart"></i>
                            Adicionar ao carrinho
                        </a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}